body {
  background-color: #232830;
}
a {
  text-decoration: none;
  color: #909090;
}
.container {
  width: 1100px;
  margin: 25px auto;
  height: 2000px;
}

.header {
  position: relative;
  margin-bottom: 50px;
}

.header .home,
.header .nav-bar {
  display: inline-block;
}

.header .home h1 {
  font: 25px "poppins";
  padding-left: 30px;
}

.header .home h1 a {
  color: white;
}

.header .home h1 a:hover {
  color: #ff7575;
}

.nav-bar {
  position: absolute;
  right: 22px;
}
.nav-bar ul li {
  display: inline;
  line-height: 43px;
}

.nav-bar ul li a {
  font: 15px "poppins";
  margin-left: 20px;
  color: white;
}

.nav-bar ul li a:hover {
  color: #ff7575;
}

.logo {
  margin: 35px auto 20px;
  height: 165px;
  width: 155px;
  background-image: url(images/Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-desc {
  text-align: center;
  margin-bottom: 80px;
}

.logo-desc h2 {
  margin-top: 0;
  font: italic 70px arial;
  color: #ff7575;
  margin-bottom: 15px;
}

.logo-desc p {
  font: 22px "poppins";
  color: white;
}
.hr-line {
  margin-top: -5px;
  left: 0;
  position: absolute;
  width: 100%;
  border: none;
  border-top: 2px solid rgba(144, 144, 144, 0.1);
}
.categ-list {
  padding-left: 10px;
  border: 1px solid transparent;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.categ-list ul {
  padding: 0;
}
.categ-list ul li {
  display: inline;
  margin-left: 13px;
  margin-right: 12px;
  color: #909090;
  font: italic 25px recursive;
}
.categ-list .first-list {
  margin-left: 70px;
}

.gradient-text {
  background: linear-gradient(
    to right,
    rgba(144, 144, 144, 1),
    rgba(0, 0, 0, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categ-list .grid {
  position: absolute;
  left: 50px;
  margin-left: 12px;
}

.categ-list .list {
  position: absolute;
  left: 14px;
  top: 15px;
}
.content {
  margin: 25px auto;
  padding-left: 11px;
}
.content .kotak {
  width: 330px;
  height: 380px;
  margin: 13px;
  background-color: white;
  border-radius: 15px;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
}
.kotak img {
  width: 100%;
  border-radius: 15px;
}
.kotak h3 {
  font: Bold 14px "poppins";
}
.kotak p {
  font: 12px "poppins";
  padding-bottom: 5px;
}

span {
  margin-left: 20px;
  margin-bottom: 20px;
}
.pagination {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.pagination ul {
  padding-left: 0px;
  margin-left: -8px;
}

.pagination ul li {
  padding: 3px;
  margin: 10px 10px 100px 10px;
  font: italic 20px "recursive";
  display: inline;
}

.pagination ul li:nth-child(3) a {
  color: #ff7575;
  border-top: 2px solid #ff7575;
}

.footer {
  position: relative;
  margin-top: 20px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 50px;
}
.footer h4 {
  margin-top: 5px;
  display: inline-block;
  font: 20px "poppins";
  padding-left: 10px;
  color: white;
}

.creator {
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: rgb(253, 96, 227);
  border-radius: 5px;
  color: white;
  line-height: 40px;
  margin-top: 5px;
  vertical-align: top;
  font: bold 14px "poppins";
}

.instagram {
  width: 180px;
  position: relative;
  float: right;
  margin-right: 28px;
  border-radius: 5px;
  padding: 5px 0px 5px 35px;
  color: whitesmoke;
  margin-top: 5px;
  background-color: rgb(253, 96, 227);
  font: bold 15px "poppins";
}
.instagram img {
  width: 25px;
}
.instagram .ig {
  position: absolute;
  left: -15px;
  top: 4px;
}
